In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url=requests.get("https://us.puma.com/us/en/search?q=shoes")
url

In [3]:
soup=BeautifulSoup(url.text,'html.parser')

In [4]:
shoe_elements= soup.find_all("div",class_="relative w-full flex flex-col gap-2")

In [5]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url=requests.get("https://us.puma.com/us/en/search?q=shoes")

soup=BeautifulSoup(url.text,'html.parser')

shoe_elements= soup.find_all("div",class_="relative w-full flex flex-col gap-2")

names=[]
category=[]
prices=[]
colors=[]

for shoe in shoe_elements:
    Shoenames = shoe.find('h3',class_="w-full mobile:text-sm mobile:pr-0 font-bold text-base pr-5 line-clamp-2").text.strip()
    Category = shoe.find('h3',class_="w-full mobile:text-sm mobile:pr-0 font-bold text-base pr-5 line-clamp-2")
    Price = shoe.find('div',class_="flex flex-col flex-none mobile:items-start items-end text-sm md:text-base mobile:mt-2")
    Color = shoe.find('span',class_="text-puma-black-300 uppercase text-xs whitespace-nowrap")
    
    names.append(Shoenames)
    category.append(Category.text.strip() if Category else "")
    prices.append(Price.text.strip() if Price else "")
    colors.append(Color.text.strip() if Color else "none")

shoes={'ShoesName':names,'Category':category,'Price':prices,'Colors':colors}
data= pd.DataFrame(shoes)

data['Category'] = data['Category'].str.extract('(Men|Women)', expand=False) 
print(data)

                                            ShoesName Category          Price  \
0   PUMA x LAMELO BALL MB.01 Golden Child Men's Ba...      Men        $140.00
1   PUMA x LAMELO BALL MB.03 Toxic Men's Basketbal...      Men        $125.00
2   PUMA x LAMELO BALL MB.01 Golden Child Big Kids...      NaN        $120.00
3   FENTY x PUMA Creeper Phatty Women's SneakersPU...    Women        $140.00
4   Viz Runner Repeat Men's Running SneakersPuma B...      Men   $37.99$65.00
5   Riaze Prowl Rainbow Women's SneakersPuma Black...    Women   $45.99$85.00
6     Suede Classic XXI SneakersPuma Black-Puma White      NaN         $75.00
7   PUMA x LAMELO BALL MB.03 Chino Hills Men's Bas...      Men        $125.00
8   Star Vital Women's Training ShoesPUMA Black-PU...    Women   $32.99$65.00
9   Softride Sophia 2 Women's Slip-on ShoesFuture ...    Women   $34.99$70.00
10  FENTY x PUMA Creeper Phatty Women's SneakersLa...    Women        $140.00
11  Better Foam Prowl Slip On Women's Training Sho...    Women   $40.99$65.00
12  PUMA x LAMELO BALL MB.03 LaFrancÃ© Men's Basket...      Men        $125.00
13   Ella Lace Up Women's ShoesPuma White-Puma Silver    Women   $29.99$60.00
14  Suede Classic XXI Women's SneakersIcy Blue-PUM...    Women   $49.99$75.00
15    GV Special+ Men's SneakersPuma Black-Puma Black      Men   $52.99$75.00
16  Contempt Demi Men's Training ShoesPuma Black-A...      Men   $40.99$65.00
17  Viz Runner Repeat Men's Running SneakersPuma W...      Men   $37.99$65.00
18  FENTY x PUMA Creeper Phatty Women's SneakersSp...    Women        $140.00
19  PUMA Serve Pro Men's SneakersPuma Black-Puma B...      Men   $32.99$65.00
20       Suede Classic XXI SneakersPeacoat-Puma White      NaN         $75.00
21    RS-X Camo Dye Men's SneakersMyrtle-Fall Foliage      Men  $65.99$120.00
22  Softride Sophia 2 Women's Slip-on ShoesPUMA Bl...    Women   $34.99$70.00
23  SCUDERIA FERRARI x JOSHUA VIDES Speedcat Pro M...      Men        $450.00

     Colors
0   1 Color
1   1 Color
2   1 Color
3      none
4      none
5   1 Color
6      none
7   1 Color
8      none
9      none
10     none
11  1 Color
12  1 Color
13     none
14     none
15     none
16     none
17     none
18     none
19     none
20     none
21  1 Color
22     none
23  1 Color

In [6]:
csv_file='PTable1.csv'
data.to_csv(csv_file, index=False)

In [7]:
!pip install mysql

Requirement already satisfied: mysql in c:\users\ramm prrasad\anaconda3\lib\site-packages (0.0.3)
Requirement already satisfied: mysqlclient in c:\users\ramm prrasad\anaconda3\lib\site-packages (from mysql) (2.2.0)

In [8]:
import mysql.connector

mydb=mysql.connector.connect(
 host='localhost',
 user='root',
 password='Window@12345',
 database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute('''
CREATE TABLE ptable1(
 ShoesName VARCHAR(255),
 Category VARCHAR(255),
 Price VARCHAR(255),
 Colors VARCHAR(255)
)
''')

for x in mycursor:
    print(x)

ProgrammingError: 1050 (42S01): Table 'ptable1' already exists

In [9]:
import mysql.connector

mydb=mysql.connector.connect(
 host='localhost',
 user='root',
 password='Window@12345',
 database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute('SHOW TABLES')

for x in mycursor:
    print(x)

('ptable1',)
('shoe1',)
('shoe2',)
('tab2',)
('table2',)
('table3',)

In [10]:
import pandas as pd
import mysql.connector

#Connect the database
mydb=mysql.connector.connect(
 host='localhost',
 user='root',
 password='Window@12345',
 database='mydatabase'
)

mycursor = mydb.cursor()
sql="INSERT INTO ptable1 (ShoesName, Category, Price, Colors) VALUES (%s, %s, %s, %s)"
val=[
    ('PUMA x LAMELO BALL MB.01 Golden Child Mens Basketball ShoesMetallic Gold-Fiery Coral','Men','$140.00','1 Color'),
    ('PUMA x LAMELO BALL MB.03 Toxic Mens Basketball ShoesPurple Glimmer-Green Gecko','Men','$125.00','1 Color'),
    ('PUMA x LAMELO BALL MB.01 Golden Child Big Kids Basketball ShoesMetallic Gold-Fiery Coral','NAN','$120.00','1 Color'),
    ('FENTY x PUMA Creeper Phatty Womens SneakersPUMA Black-Warm White-Gum','Women','$140.00','none'),
    ('Viz Runner Repeat Mens Running SneakersPuma Black-Puma White','Men','$37.99$65.00','none'),
    ('Riaze Prowl Rainbow Womens SneakersPuma Black-Luminous Pink','Women','$85.00','1 Color'),
    ('Suede Classic XXI SneakersPuma Black-Puma White','NaN','$75.00','none'),
    ('PUMA x LAMELO BALL MB.03 Chino Hills Mens Basketball ShoesFeather Gray-Lime Smash','Men','$125.00','1 Color'),
    ('Star Vital Womens Training ShoesPUMA Black-PUMA Silver','Women','$32.99$65.00','none'),
    ('Softride Sophia 2 Womens Slip-on ShoesFuture Pink-Rose Gold-Frosty Pink','Women','$34.99$70.00','none'),
    ('FENTY x PUMA Creeper Phatty Womens SneakersLavender Alert-Burnt Red-Gum','Women','$140.00','none'),
    ('Better Foam Prowl Slip On Womens Training ShoesPUMA Black-PUMA Gold-Ash Gray','Women','$40.99$65.00','1 Color'),
    ('PUMA x LAMELO BALL MB.03 LaFrancÃ© Mens Basketball ShoesFluro Green Pes-PUMA Green-Fluro Yellow Pes','Men','$125.00','1 Color'),
    ('Ella Lace Up Womens ShoesPuma White-Puma Silver','Women','$29.99$60.00','none'),
    ('Suede Classic XXI Womens SneakersIcy Blue-PUMA White','Women','$49.99$75.00','none'),
    ('GV Special+ Mens SneakersPuma Black-Puma Black','Men','$52.99$75.00','none'),
    ('Suede Classic XXI SneakersPuma Black-Puma Black','NaN','$75.00','none'),
    ('Contempt Demi Mens Training ShoesPuma Black-Asphalt','Men','$40.99$65.00','none'),
    ('Viz Runner Repeat Mens Running SneakersPuma White-Puma Black','Men','$37.99$65.00','none'),
    ('FENTY x PUMA Creeper Phatty Womens SneakersSpeed Blue-Lime Pow-Gum','Women','$140.00','none'),
    ('PUMA Serve Pro Mens SneakersPuma Black-Puma Black-Puma White-Puma Team Gold','Men','$32.99$65.00','none'),
    ('RS-X Camo Dye Mens SneakersMyrtle-Fall Foliage','Men','$65.99$120.00','1 Color'),
    ('Suede Classic XXI SneakersPeacoat-Puma White','NaN','$75.00','none'),
    ('Softride Sophia 2 Womens Slip-on ShoesPUMA Black-PUMA White','Women','$34.99$70.00','none'),
]

mycursor.executemany(sql,val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

24 was inserted.

1 Write a query to retrieve all shoe names and their corresponding prices for men's shoes:

In [11]:
import mysql.connector

#Connect the database
mydb=mysql.connector.connect(
 host='localhost',
 user='root',
 password='Window@12345',
 database='mydatabase'
)
cursor=mydb.cursor()

cursor.execute("SELECT ShoesName, Price FROM ptable1 WHERE Category = 'Men'")

results=cursor.fetchall()

for row in results:
    print(row[0], row[1])
mydb.close()

PUMA x LAMELO BALL MB.01 Golden Child Mens Basketball ShoesMetallic Gold-Fiery Coral $140.00
PUMA x LAMELO BALL MB.03 Toxic Mens Basketball ShoesPurple Glimmer-Green Gecko $125.00
Viz Runner Repeat Mens Running SneakersPuma Black-Puma White $37.99$65.00
PUMA x LAMELO BALL MB.03 Chino Hills Mens Basketball ShoesFeather Gray-Lime Smash $125.00
PUMA x LAMELO BALL MB.03 LaFrancÃ© Mens Basketball ShoesFluro Green Pes-PUMA Green-Fluro Yellow Pes $125.00
GV Special+ Mens SneakersPuma Black-Puma Black $52.99$75.00
Contempt Demi Mens Training ShoesPuma Black-Asphalt $40.99$65.00
Viz Runner Repeat Mens Running SneakersPuma White-Puma Black $37.99$65.00
PUMA Serve Pro Mens SneakersPuma Black-Puma Black-Puma White-Puma Team Gold $32.99$65.00
RS-X Camo Dye Mens SneakersMyrtle-Fall Foliage $65.99$120.00
PUMA x LAMELO BALL MB.01 Golden Child Mens Basketball ShoesMetallic Gold-Fiery Coral $140.00
PUMA x LAMELO BALL MB.03 Toxic Mens Basketball ShoesPurple Glimmer-Green Gecko $125.00
Viz Runner Repeat Mens Running SneakersPuma Black-Puma White $37.99$65.00
PUMA x LAMELO BALL MB.03 Chino Hills Mens Basketball ShoesFeather Gray-Lime Smash $125.00
PUMA x LAMELO BALL MB.03 LaFrancÃ© Mens Basketball ShoesFluro Green Pes-PUMA Green-Fluro Yellow Pes $125.00
GV Special+ Mens SneakersPuma Black-Puma Black $52.99$75.00
Contempt Demi Mens Training ShoesPuma Black-Asphalt $40.99$65.00
Viz Runner Repeat Mens Running SneakersPuma White-Puma Black $37.99$65.00
PUMA Serve Pro Mens SneakersPuma Black-Puma Black-Puma White-Puma Team Gold $32.99$65.00
RS-X Camo Dye Mens SneakersMyrtle-Fall Foliage $65.99$120.00
PUMA x LAMELO BALL MB.01 Golden Child Mens Basketball ShoesMetallic Gold-Fiery Coral $140.00
PUMA x LAMELO BALL MB.03 Toxic Mens Basketball ShoesPurple Glimmer-Green Gecko $125.00
Viz Runner Repeat Mens Running SneakersPuma Black-Puma White $37.99$65.00
PUMA x LAMELO BALL MB.03 Chino Hills Mens Basketball ShoesFeather Gray-Lime Smash $125.00
PUMA x LAMELO BALL MB.03 LaFrancÃ© Mens Basketball ShoesFluro Green Pes-PUMA Green-Fluro Yellow Pes $125.00
GV Special+ Mens SneakersPuma Black-Puma Black $52.99$75.00
Contempt Demi Mens Training ShoesPuma Black-Asphalt $40.99$65.00
Viz Runner Repeat Mens Running SneakersPuma White-Puma Black $37.99$65.00
PUMA Serve Pro Mens SneakersPuma Black-Puma Black-Puma White-Puma Team Gold $32.99$65.00
RS-X Camo Dye Mens SneakersMyrtle-Fall Foliage $65.99$120.00
PUMA x LAMELO BALL MB.01 Golden Child Mens Basketball ShoesMetallic Gold-Fiery Coral $140.00
PUMA x LAMELO BALL MB.03 Toxic Mens Basketball ShoesPurple Glimmer-Green Gecko $125.00
Viz Runner Repeat Mens Running SneakersPuma Black-Puma White $37.99$65.00
PUMA x LAMELO BALL MB.03 Chino Hills Mens Basketball ShoesFeather Gray-Lime Smash $125.00
PUMA x LAMELO BALL MB.03 LaFrancÃ© Mens Basketball ShoesFluro Green Pes-PUMA Green-Fluro Yellow Pes $125.00
GV Special+ Mens SneakersPuma Black-Puma Black $52.99$75.00
Contempt Demi Mens Training ShoesPuma Black-Asphalt $40.99$65.00
Viz Runner Repeat Mens Running SneakersPuma White-Puma Black $37.99$65.00
PUMA Serve Pro Mens SneakersPuma Black-Puma Black-Puma White-Puma Team Gold $32.99$65.00
RS-X Camo Dye Mens SneakersMyrtle-Fall Foliage $65.99$120.00

2 Write a query to retrieve the number of different colors available for each category.

In [12]:
import mysql.connector

#Connect the database
mydb=mysql.connector.connect(
 host='localhost',
 user='root',
 password='Window@12345',
 database='mydatabase'
)
cursor=mydb.cursor()

cursor.execute('SELECT Category, COUNT(DISTINCT Colors) AS NumColors FROM ptable1 GROUP BY Category')

results=cursor.fetchall()

for row in results:
    print(row)
cursor.close()
mydb.close()

('Men', 2)
('NAN', 2)
('Women', 2)

3 Write a query to find the most expensive men's shoe.

In [13]:
import mysql.connector

#Connect the database
mydb=mysql.connector.connect(
 host='localhost',
 user='root',
 password='Window@12345',
 database='mydatabase'
)
cursor=mydb.cursor()

cursor.execute("SELECT * FROM ptable1 WHERE Category = 'Men' ORDER BY Price DESC LIMIT 1")

results=cursor.fetchone()
               
print(results)
               
cursor.close()
mydb.close()

('RS-X Camo Dye Mens SneakersMyrtle-Fall Foliage', 'Men', '$65.99$120.00', '1 Color')

4 Write a query to find the cheapest women's shoe in a specific color (e.g., 'Black ').

In [14]:
import mysql.connector

#Connect the database
mydb=mysql.connector.connect(
 host='localhost',
 user='root',
 password='Window@12345',
 database='mydatabase'
)
cursor=mydb.cursor()

cursor.execute("SELECT * FROM ptable1 WHERE Category = 'Women' AND Colors = 'Black' ORDER BY Price ASC LIMIT 1")

results=cursor.fetchone()
               
if results:
    print(f"The cheapest women's shoe in black is {results[0]}priced at {result[2]}")
else:
    print("No women's Shoe in black found")
    
cursor.close()
mydb.close()

No women's Shoe in black found

5 Write a query to retrieve all shoe names and their corresponding prices for women's shoes.

In [15]:
import mysql.connector

#Connect the database
mydb=mysql.connector.connect(
 host='localhost',
 user='root',
 password='Window@12345',
 database='mydatabase'
)
cursor=mydb.cursor()

cursor.execute("SELECT ShoesName,Price FROM ptable1 WHERE Category = 'Women'")

results=cursor.fetchall()

for row in results:
    shoe_name = row[0]
    price = row[1]
    print(f"{shoe_name}-${price}")

cursor.close()
mydb.close()

FENTY x PUMA Creeper Phatty Womens SneakersPUMA Black-Warm White-Gum-$$140.00
Riaze Prowl Rainbow Womens SneakersPuma Black-Luminous Pink-$$85.00
Star Vital Womens Training ShoesPUMA Black-PUMA Silver-$$32.99$65.00
Softride Sophia 2 Womens Slip-on ShoesFuture Pink-Rose Gold-Frosty Pink-$$34.99$70.00
FENTY x PUMA Creeper Phatty Womens SneakersLavender Alert-Burnt Red-Gum-$$140.00
Better Foam Prowl Slip On Womens Training ShoesPUMA Black-PUMA Gold-Ash Gray-$$40.99$65.00
Ella Lace Up Womens ShoesPuma White-Puma Silver-$$29.99$60.00
Suede Classic XXI Womens SneakersIcy Blue-PUMA White-$$49.99$75.00
FENTY x PUMA Creeper Phatty Womens SneakersSpeed Blue-Lime Pow-Gum-$$140.00
Softride Sophia 2 Womens Slip-on ShoesPUMA Black-PUMA White-$$34.99$70.00
FENTY x PUMA Creeper Phatty Womens SneakersPUMA Black-Warm White-Gum-$$140.00
Riaze Prowl Rainbow Womens SneakersPuma Black-Luminous Pink-$$85.00
Star Vital Womens Training ShoesPUMA Black-PUMA Silver-$$32.99$65.00
Softride Sophia 2 Womens Slip-on ShoesFuture Pink-Rose Gold-Frosty Pink-$$34.99$70.00
FENTY x PUMA Creeper Phatty Womens SneakersLavender Alert-Burnt Red-Gum-$$140.00
Better Foam Prowl Slip On Womens Training ShoesPUMA Black-PUMA Gold-Ash Gray-$$40.99$65.00
Ella Lace Up Womens ShoesPuma White-Puma Silver-$$29.99$60.00
Suede Classic XXI Womens SneakersIcy Blue-PUMA White-$$49.99$75.00
FENTY x PUMA Creeper Phatty Womens SneakersSpeed Blue-Lime Pow-Gum-$$140.00
Softride Sophia 2 Womens Slip-on ShoesPUMA Black-PUMA White-$$34.99$70.00
FENTY x PUMA Creeper Phatty Womens SneakersPUMA Black-Warm White-Gum-$$140.00
Riaze Prowl Rainbow Womens SneakersPuma Black-Luminous Pink-$$85.00
Star Vital Womens Training ShoesPUMA Black-PUMA Silver-$$32.99$65.00
Softride Sophia 2 Womens Slip-on ShoesFuture Pink-Rose Gold-Frosty Pink-$$34.99$70.00
FENTY x PUMA Creeper Phatty Womens SneakersLavender Alert-Burnt Red-Gum-$$140.00
Better Foam Prowl Slip On Womens Training ShoesPUMA Black-PUMA Gold-Ash Gray-$$40.99$65.00
Ella Lace Up Womens ShoesPuma White-Puma Silver-$$29.99$60.00
Suede Classic XXI Womens SneakersIcy Blue-PUMA White-$$49.99$75.00
FENTY x PUMA Creeper Phatty Womens SneakersSpeed Blue-Lime Pow-Gum-$$140.00
Softride Sophia 2 Womens Slip-on ShoesPUMA Black-PUMA White-$$34.99$70.00
FENTY x PUMA Creeper Phatty Womens SneakersPUMA Black-Warm White-Gum-$$140.00
Riaze Prowl Rainbow Womens SneakersPuma Black-Luminous Pink-$$85.00
Star Vital Womens Training ShoesPUMA Black-PUMA Silver-$$32.99$65.00
Softride Sophia 2 Womens Slip-on ShoesFuture Pink-Rose Gold-Frosty Pink-$$34.99$70.00
FENTY x PUMA Creeper Phatty Womens SneakersLavender Alert-Burnt Red-Gum-$$140.00
Better Foam Prowl Slip On Womens Training ShoesPUMA Black-PUMA Gold-Ash Gray-$$40.99$65.00
Ella Lace Up Womens ShoesPuma White-Puma Silver-$$29.99$60.00
Suede Classic XXI Womens SneakersIcy Blue-PUMA White-$$49.99$75.00
FENTY x PUMA Creeper Phatty Womens SneakersSpeed Blue-Lime Pow-Gum-$$140.00
Softride Sophia 2 Womens Slip-on ShoesPUMA Black-PUMA White-$$34.99$70.00